// FONTS FAMILY

// Nunito
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap');
$nunito: 'Nunito', sans-serif;

// FONT SIZES
$font_size : (big: 35px,
  big-normal: 30px,
  normal: 24px,
  normal-small: 16px,
  small: 12px);